name: LMS Monitor Bot

on:
  schedule:
    - cron: '0 5 * * *'  # Har 30 minute baad chalega
  workflow_dispatch:        # Manual button ke liye

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          playwright install chromium --with-deps

      - name: Run Script
        env:
          LMS_USER: ${{ secrets.LMS_USER }}
          LMS_PASS: ${{ secrets.LMS_PASS }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: python script.py
